@charset 'UTF-8';
/* 
 * Project: y-BE Manual
 * Author: Boundary Zero
 * Date: 2024-06-15
 * Description: Content stylesheet for y-BE Manual.
 */

 /****************************
 * Content Styles
 ****************************/
 #wrap {width: 100%;}

 /* header */
 header {display: flex; justify-content: space-between; padding: 24px; }
 header .logo {color: var(--primary-color-500); display: flex; flex-direction: column; row-gap: 4px;}
 header h1 {width: 111px; height: 27px; background: url('/img/logo.svg') 50% 50% no-repeat; text-indent: -9999px;}
 header span {font-size: 13px;}
 header .gnb-wrap {display: flex; column-gap: 24px; align-items: center;}
 
 header form {position: relative;}
 header input[type='search'] {width: 340px; height: 42px; font-size: 14px; padding: 6px 10px 8px 42px; border-radius: 43px; background: var(--light-color-1) url('/img/ico_search.svg') 12px 50% no-repeat; border: 1px solid var(--light-color-2); color: var(--light-color-3); transition: .3s;}
 header input[type='search']:focus {background-color: var(--secondary-color-500); background-image: url('/img/ico_search_on.svg'); color: #fff; font-size: 16px;}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 16px; height: 16px; background: url('/img/btn_del.svg') center center no-repeat;
  cursor: pointer;
}

 header .btns {display: flex; column-gap: 8px;}
 header .btns button {display: flex; align-items: center; column-gap: 2px; padding: 10px 6px; color: var(--gray-color-1); font-size: 15px; font-weight: 600; letter-spacing: -1px; transition: .3s;
 }
 header .btns button:hover{color: var(--primary-color-500); }
 header .btns button[class^=ico-]::before {content: ''; display: block; width: 18px; height: 18px; background: url('/img/ico_return.svg') 50% 50% no-repeat; }
 header .btns button:hover::before {background-image: url('/img/ico_return_on.svg'); }
 header .btns button[class$='login']::before {background-image: url('/img/ico_login.svg');}
 header .btns button[class$='login']:hover::before {background-image: url('/img/ico_login_on.svg');}

/* Keywords */
#keywords {height: 62px; display: flex; justify-content: flex-start; flex-shrink: 0; align-items: center; padding: 16px 32px; background-color: var(--primary-color-500); overflow: hidden;}
#keywords h2 {flex-shrink: 0; font-size: 18px; font-weight: 500; padding: 0 56px; color: #fff; }
#keywords .ico-setting {width: 16px; height: 16px; text-indent: -9999px; background: url('/img/ico_setting.svg') 50% 50% no-repeat; margin-left: 16px;}
#keywords ul {display: flex; column-gap: 12px; overflow: hidden; flex-shrink: 0;}
#keywords ul li {display: flex; overflow: hidden;}
#keywords ul button {font-size: 14px; padding: 6px 24px; border-radius: 32px; border: 1px solid var(--gray-color-2); color: var(--light-color-3); transition: .3s;}
#keywords ul button:hover {color:  var( --primary-color-100); border-color: var( --primary-color-100);}

/* Contents */
#contents {display: flex; column-gap: 32px; height: calc(100vh - 154px)}
#contents aside {width: 290px; padding: 32px; background-color: var(--light-color-1); flex-shrink: 0;}
.tab-cont {width: 100%; padding: 32px; padding-left: 0; justify-content: center;align-items: center; display: none;}
.tab-cont.active {display: flex; color: #cccde0; font-size: 28px; font-weight: 600;}

/* Tabmenu */
.tab-menu {display: flex; cursor: pointer; margin-bottom: 16px; font-size: 18px;}
.tab {width: 50%; padding: 12px 21px; text-align: center; background-color: var(--light-color-4); color: var(--light-color-5); font-weight: 600; }
.tab.active { background-color: var(--primary-color-500); color: #fff;}
.tab-content {display: none;}
.tab-content.active {display: block;}

article {padding: 16px; border-radius: 8px; background-color: #fff; border: 1px solid var(--light-color-2); margin-bottom: 24px;}

/* Leftmenu */
.menu {color: var(--secondary-color-500); padding: 0;}
.menu > li { position: relative; margin-bottom: 16px; }
.menu > li > a {display: block; text-decoration: none; font-size: 20px; font-weight: 700; padding-bottom: 12px; color: var(--gray-color-2);}
/* .menu > li.active > a, .menu > li > a:hover {color: var(--secondary-color-500);} */
.menu > li.current > a, .menu > li.current > a:hover {color: var(--secondary-color-500);}
.menu li ul {padding: 0; margin: 0; max-height: 0;  overflow: hidden; transition: max-height 0.5s ease-out;}
.menu li.active ul { max-height: 500px; /* Adjust this value based on the content */}
.menu li.active li.active a {color: var(--secondary-color-500);}
.menu li ul li a {font-size: 14px; padding: 15px 16px; font-weight: 500; text-decoration: none;color: #504973;display: block; border-left: 4px solid var(--gray-color-2);
}
.menu li.current ul li a {background-color: var(--secondary-color-100);
  border-left-color: var(--secondary-color-500); color: #000203;}